<div class="ca">
    <igx-carousel #carousel interval="3000" [pause]="pause" [loop]="loop">
        <igx-slide *ngFor="let slide of slides;" class="ca_slide" [active]="slide.active">
            <img class="ca_image" [src]="slide.image">
            <span class="ca_heading">{{slide.heading}}</span>
        </igx-slide>
        <!-- <igx-linear-bar #linearbar [striped]="false" [max]="total" animate="true"></igx-linear-bar> -->
        <!-- <span>{{current}} out of {{total}}</span> -->
    </igx-carousel>
</div>