.ca_slide {
    width: 100%;
    text-align:center !important; 
}
.ca_image {
        min-height: 180px;
        max-height: 180px;
        max-width: 180px;
}

.ca_heading {
    font-size: 20px;
    font-weight: 800;
    float: left;
    width: 100%;
    padding: 22px 0 0;
}

div.igx-carousel__arrow{
    display: none !important;
}
